/* Universal Styles */

html {
  font-size: 14px;
}

body {
  font-family: "Lora", serif;
  background-color: #eeeeee;
}

.strong {
  font-weight: bold;
}

h2 {
  text-transform: uppercase;
}

.mobile {
  display: none;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
  opacity: 0.9;
  transition: transform 0.5s,
              opacity 0.5s;
}

.image-container img:hover {
  opacity: 1;
  transform: scale(1.3);
}

@media only screen and (min-width: 1090px) {
  .container {
    max-width: 1090px;
  }
}

/* Navigation */

.navbar {
  font-size: 1.1rem;
}

.navbar-default {
  background-color: #eeeeee;
  border-color: #95989a;
}

.navbar-default .navbar-nav>li>a {
  color: #000000;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #6c7a89;
}

.nav {
  cursor: pointer;
}

.mobile-list {
  display: none;
  margin: 0;
  padding: 0;
}

.mobile-list li {
  display: block;
}

/* Jumbotron */

.jumbotron {
  height: 44rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 11.85rem 0;
  text-align: center;
  color: #ffffff;
}

.jumbotron-jumpstart {
  background-image: url(../images/jumpstart.jpg);
}

.jumbotron-tea-cozy {
  background-image: url(../images/tea-cozy.jpg);
}

.jumbotron-my-times {
  background-image: url(../images/my-times.png);
}

.jumbotron-secret-agent-supply {
  background-image: url(../images/secret-agent-supply.jpeg);
}

.jumbotron-tortoiseshell-optics {
  background-image: url(../images/tortoiseshell-optics.png);
}

.jumbotron-colmar-academy {
  background-image: url(../images/colmar-academy.jpg);
}

.jumbotron h1 {
  padding: 1rem 0;
  text-shadow: -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron p {
  padding: 1rem 0;
  text-shadow: -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Button Styles */

.btn {
  width: 11.4rem;
  border: 1px solid #6c7a89;
  margin-top: 2.8rem;
  background-color: #6c7a89;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.9);
}

.btn:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

/* Services */

#services {
  text-align: center;
  width: 60%;
  margin-bottom: 2rem;
}

#services i {
  padding: 1.5rem 0;
}

#services li {
  font-size: 1.25rem;
}

/* Portfolio */

#portfolio {
  background-color: #bfbfbf;
}

#portfolio .container {
  text-align: center;
  width: 85%;
  margin: auto;
  padding: 1rem 0;
}

#portfolio .image-container {
  max-height: 20rem;
  padding: 2rem;
}

#portfolio p {
  font-size: 1.25rem;
  padding-top: 1rem;
}

/* Contact */

#contact {
  text-align: center;
  width: 60%;
  margin: auto;
  padding-bottom: 2rem;
}

#contact h2 {
  padding: 1rem 0;
}

#contact input {
  padding: 1rem;
}

#contact #message-input {
  padding-bottom: 6rem;
}

/* Footer */

footer {
  height: 6rem;
  margin-top: 1rem;
  background-color: #bfbfbf;
}

footer a {
  color: #000;
  padding: 0.5rem;
}

footer i {
  margin-top: 2rem;
}

/* Hamburger Icon */

#nav-toggle {
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
