/* Universal Styles */

html {
  font-size: 14px;
}

body {
  font-family: "Lora", serif;
}

/* Navigation */

.navbar {
  font-size: 1.1rem;
}

.navbar-default {
  background-color: #eeeeee;
  border-color: #000000;
}

.navbar-default .navbar-nav>li>a {
  color: #000000;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #6c7a89;
}
